*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

.App-nav {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 20px;
  padding: 10px;
  border-bottom: 2px solid #508fca;
}

.App-nav ul {
  padding: 0;
  margin: 0;
}

.App-nav button {
  font-size: 26px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.App-nav-item {
  list-style: none;
  display: inline-block;
  margin-right: 32px;
  border-bottom: 4px solid transparent;
}

.App-content {
  margin: 0 20px;
  font-size: 24px;
}

.App-nav-item button:hover {
  color: #999;
}

.App-nav-item.selected {
  border-bottom-color: #ffaa3f;
}

.App-nav .App-nav-total {
  font-size: 20px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  align-content: center;
  padding: 0;
  margin: 0;
  color: rgb(95, 95, 95);
}

.App-nav .App-nav-total:hover {
  color: #999;
}
