.CartPage-items {
  margin: 0;
  padding: 0;
}

.CartPage-items li {
  list-style: none;
}

.CartItem-count {
  padding: 5px 10px;
  border: 1px solid #ccc;
}

.CartItem-addOne,
.CartItem-removeOne {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #fff;
}

.CartItem-addOne {
  border-left: none;
}

.CartItem-removeOne {
  border-right: none;
}

button:hover {
  cursor: pointer;
}

.CartItem-total {
  text-align: right;
  margin-top: 20px;
  margin-right: 10px;
  font-weight: 600;
}

.CartItem-emptyCart {
  text-align: center;
  margin-top: 60px;
}
