.content {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  background-color: white;
}

.content-card {
  width: 31%;
  height: auto;
  margin: 8px;
  border: 3px black solid;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-titles {
  margin-left: 0.3rem;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0.3rem;
}

.card-subtitle {
  color: rgb(156, 156, 156);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.banner {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.banner-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card-pins {
  background-color: rgba(84, 84, 84, 0.53);
  position: absolute;
  top: 59%;
  left: 5%;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 5px 3px;
}

.card-pins .pin-icon {
  margin: 0 3px;
  padding-right: 2px;
}

.times_pinned {
  letter-spacing: 0.5px;
}

.thumbnails {
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.thumbnail {
  width: 100%;
  height: 60px;
  object-fit: cover;
  margin: 0 1px;
  border-radius: 5px;
}
