.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  background-color: white;
}

.hero-logo {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-top: 1.5rem;
}

.hero-title {
  font-size: 36px;
  margin: 1.5rem 0 2.25rem 0;
  font-weight: 700;
}

.hero-stats {
  display: flex;
  margin-bottom: 1rem;
}

.hero-stat {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 2.8rem;
}

.hero-stat > span {
  font-size: 19px;
}
