.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  background-color: white;
}

.hero-logo {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-top: 1.5rem;
}

.hero-title {
  font-size: 36px;
  margin: 1.5rem 0 1.7rem 0;
  font-weight: 700;
}

.hero-stats {
  display: flex;
  margin-bottom: 1rem;
  color: gray;
}

.hero-stat {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 2.8rem;
  line-height: 1.3;
}

.hero-stat > span {
  font-size: 17px;
  font-weight: normal;
}

.hero-header .hero-stat:first-child {
  color: red;
}
