:root {
  --main-bg-color: #1a1d31;
  --secondary-bg-color: #2b3050;
  --info-headers-color: white;
  --info-desc-color: #969bba;
  --eth-cost-color: #00aea2;
}

html {
  font-family: "Outfit", sans-serif;
  background-color: rgb(242, 242, 242);
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
  background-color: var(--main-bg-color);
}

.container {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__nft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 3%;
  width: 350px;
}

.artwork__container {
  height: 300px;
  width: 300px;
  margin: 20px 0 1rem 0;
}

.artwork__image {
  border-radius: 3%;
}

.artwork__info {
  width: 85%;
  border-radius: 3%;
  margin-bottom: 2rem;
  color: var(--info-desc-color);
}

.artwork__headers {
  font-size: 22px;
  color: var(--info-headers-color);
  margin-bottom: 1rem;
}

.artwork__desc {
  margin: 1.2rem 0;
}

.artwork__id {
  margin: 10px;
}

.time-and-cost__container {
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cost__container {
  color: var(--eth-cost-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.eth__icon {
  margin-right: 0.3rem;
}

.time-left__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock__icon {
  margin-right: 0.3rem;
}

.line {
  height: 2px;
  width: 90%;
  background-color: rgb(150, 155, 186, 0.3);
  margin: auto;
  margin-bottom: 1rem;
}

.creator__info {
  position: relative;
  display: flex;
  align-items: center;
}

.avatar__container {
  height: 32px;
  width: 32px;
  display: inline-block;
}

.creation-of {
  margin-left: 0.8rem;
}

.creator {
  color: var(--info-headers-color);
}
