/* --------------
Custom Properties 
-------------- */
:root {
  /* colors */
  --clr-darkest: rgb(3, 3, 3);
  --clr-dark: rgb(26, 26, 28);
  --clr-bright: rgb(129, 131, 132);
  --clr-brightest: rgb(215, 218, 220);

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-ibm: "IBM Plex Sans", sans-serif;
}

/* ----------
General Reset
---------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#app,
.container {
  height: 100%;
}

body {
  background-color: black;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  color: var(--clr-brightest);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* --
Rules
-- */
.app-container {
  height: 100vh;
  background-color: var(--clr-darkest);
  display: flex;
  flex-direction: column;
}

.post {
  background-color: var(--clr-dark);
  margin-bottom: 10px;
}

.post:first-child {
  margin-top: 10px;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 8px 8px;
}

.thumbnail {
  display: inline-block;
  height: 20px;
  margin-right: 6px;
  vertical-align: middle;
  width: 20px;
}

.information-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  overflow: hidden;
}
