/* --------------
Custom Properties 
-------------- */
:root {
  /* colors */
  --clr-darkest: rgb(3, 3, 3);
  --clr-dark: rgb(26, 26, 28);
  --clr-bright: rgb(129, 131, 132);
  --clr-brightest: rgb(215, 218, 220);

  /* font-families */
  --ff-ibm: "IBM Plex Sans", sans-serif;
}

/* ----------
General Reset
---------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#app,
.app-wrapper {
  height: 100%;
  background-color: #eaeaea;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  color: var(--clr-darkest);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* --
Rules
-- */
.app-wrapper {
  width: auto;
  display: flex;
  justify-content: center;
}

.app-container {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  height: 120px;
  width: auto;
  margin-bottom: 5px;
  background-color: white;
}

.post:first-child {
  margin-top: 30px;
}

.reputation-wrapper {
  display: flex;
  flex: 0.8 1 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.reputation-container {
  font-size: 18px;
}
.reputation-ele {
  margin-bottom: 10px;
}
.reputation-ele:last-child {
  margin-bottom: 0;
}

.thumbnail-container {
  display: flex;
  align-items: center;
}

.thumbnail {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.information-wrapper {
  display: flex;
  flex: 7 1 0;
  align-items: center;
  justify-content: center;
}

.information-container {
  width: 95%;
}

.title {
  font-size: 22px;
}

.source {
  margin-left: 10px;
  font-size: 15px;
  font-style: italic;
}

.submitted-by {
  margin-block: 5px;
}

.options-container {
  display: flex;
}

.options-comments {
}

.options-menu {
  display: flex;
  width: 100%;
}

.options-menu > div {
  margin-inline-start: 10px;
}
