/* ------------- */
/* Reset         */
/* ------------- */

/* box sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

/* reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------------ */
/* Container 100% Height    */
/* ------------------------ */
html,
body,
#root,
.container {
  height: 100%;
}

/* ------------------------ */
/* Rules                    */
/* ------------------------ */
.container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  border: 1px black solid;
  height: 400px;
  position: relative;
  width: auto;
}

.title {
  margin: 15px;
}

.section-title {
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 5px;
}

.size {
  display: flex;
  margin-left: 15px;
  justify-content: flex-start;
}

input[type="radio"] {
  margin-left: 10px;
  margin-right: 3px;
  vertical-align: middle;
  padding: 0;
}

.radio:first-child input[type="radio"] {
  margin-right: 3px;
  margin-left: 0px;
  border: 1px blue solid;
}

.radio:nth-child(3) {
  margin-right: 3px;
}

.radio-label {
  margin-right: 10px;
}

#btn-submit {
  position: absolute;
  width: 100px;
  margin-left: -50px;
  left: 50%;
  bottom: 15px;
}
