:root {
  --cell-size: 125px;
  --neon-red: #ff5161;
  --neon-red-glow: #d30302;
  --neon-pink: #ff53cd;
  --neon-pink-glow: #eb478b;
  --neon-purple: #9461fd;
  --neon-purple-glow: #4003e6;
  --neon-blue: #2dd9fe;
  --neon-blue-glow: #00a3d5;
  --neon-green: #00fe9b;
  --neon-green-glow: #02c435;
  --neon-yellow: #ffdb4e;
  --neon-yellow-glow: #b48505;
  --neon-white: #fefefe;
  --neon-white-glow: #ffffff;
  --color-bg-blue: #00020b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-bg-gray);
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  border: 1px black solid;
  background-color: var(--color-bg-blue);
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 2rem;
  text-align: center;
  color: var(--neon-white);
  border-bottom: 2px solid var(--neon-white);
  padding-bottom: 20px;
  letter-spacing: 5px;

  text-shadow: 0 0 0px var(--neon-white-glow), 0 0 10px var(--neon-white-glow),
    0 0 0px var(--neon-white-glow), 0 0 0px var(--neon-white-glow),
    0 0 10px var(--neon-white-glow);
}

.board-container {
  height: 450px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  overflow: hidden;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, var(--cell-size));
  margin-top: 30px;
}

.square {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 2px solid var(--neon-yellow);
  box-shadow: 0px 0px 10px 1.5px var(--neon-yellow-glow);
  font-size: 3rem;
  color: var(--neon-blue);
  cursor: pointer;
  background-color: transparent;
}

.moves {
  top: 300px;
  left: 15px;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px white solid; */
}

.move-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-inline: 15px;
  height: 20px;
  padding: 18px 10px;
  max-width: 160px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  font-size: 1em;
  border-radius: 10%;
  color: var(--neon-green);
  border: 1px solid var(--neon-green-glow);
  box-shadow: 0 0 5px var(--neon-green-glow), 0 0 5px inset;
}

/* ------- */
/* Borders */
/* ------- */
.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
  border-top: none;
  border-bottom: none;
}
.square:nth-child(3n + 1) {
  border-left: none;
  border-right: none;
}
.square:nth-child(3n + 3) {
  border-right: none;
  border-left: none;
}
.square:last-child,
.square:nth-last-child(2),
.square:nth-last-child(3) {
  border-bottom: none;
  border-top: none;
}

/* ------- */
/* Classes */
/* ------- */
.square.x {
  color: var(--neon-blue);
  text-shadow: 0 0 0px var(--neon-blue-glow), 0 0 0px var(--neon-blue-glow),
    0 0 10px var(--neon-blue-glow), 0 0 40px var(--neon-blue-glow),
    0 0 0px var(--neon-blue-glow);
}

.square.circle {
  color: var(--neon-pink);
  text-shadow: 0 0 0px var(--neon-pink-glow), 0 0 0px var(--neon-pink-glow),
    0 0 10px var(--neon-pink-glow), 0 0 40px var(--neon-pink-glow),
    0 0 0px var(--neon-pink-glow);
}

button:hover {
  cursor: pointer;
}
