:root {
  --cell-size: 125px;
  --color-bg-gray: #b0b0b0;
  --color-bg-blue: #00020b;
  --color-main-white: white;
  --color-main-blue: #39deff;
  --color-main-purple: #ff94db;
  --color-main-yellow: #f0c449;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-bg-gray);
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  border: 1px black solid;
  background-color: var(--color-bg-blue);
}

.status {
  background-color: transparent;
  font-size: 2rem;
  text-align: center;
  color: var(--color-main-white);
  border-bottom: 2px solid var(--color-main-white);
  padding-bottom: 20px;
}

.board-container {
  height: 450px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  overflow: hidden;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, var(--cell-size));
  margin-top: 30px;
}

.square {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 2px solid var(--color-main-yellow);
  box-shadow: 0px 0px 10px var(--color-main-yellow);
  font-size: 3rem;
  color: var(--color-main-blue);
  cursor: pointer;
  background-color: transparent;
}

/* ------- */
/* Borders */
/* ------- */
.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
  border-top: none;
  border-bottom: none;
}
.square:nth-child(3n + 1) {
  border-left: none;
  border-right: none;
}
.square:nth-child(3n + 3) {
  border-right: none;
  border-left: none;
}
.square:last-child,
.square:nth-last-child(2),
.square:nth-last-child(3) {
  border-bottom: none;
  border-top: none;
}

/* ------- */
/* Classes */
/* ------- */
.square.x {
  color: var(--color-main-blue);
}

.square.circle {
  color: var(--color-main-purple);
}

button:hover {
  cursor: pointer;
}
