:root {
  --gray-color: #828282;
}

.content {
  display: flex;
}

.content .position {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7px;
}

.content .ranking {
  padding: 3px 5px;
  font-size: 22px;
  color: var(--gray-color);
}

.content .icon {
  background: none;
  color: inherit;
  padding-right: 5px;
}

.content .icon-button {
  background: none;
  outline: none;
  border: none;
  padding-left: 0;
  color: var(--gray-color);
}

.content .post {
  /* background-color: lightgreen; */
}

.content .title {
  font-size: 22px;
  letter-spacing: 0.5px;
}

.content .title-source {
  font-size: 18px;
  color: var(--gray-color);
}

.content .subtitle {
  font-size: 16px;
  letter-spacing: 0.3px;
  color: var(--gray-color);
}
