.header {
  background-color: rgb(255, 102, 0);
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.header .icon-button {
  background: none;
  color: inherit;
  border: 1px solid white;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .icon-image {
  height: 30px;
  width: 30px;
}

.header .page-top {
  padding: 10px 0px;
}

.header .source {
  font-size: 20px;
  font-weight: 900;
}

.header .source-list {
  /* background-color: cyan; */
}

.header .source-list > li {
  margin: 0 10px;
  display: inline;
}

.header .source-list li:first-child {
  margin-left: 0;
}

.header .access {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-right: 20px;
  padding-left: 50px;
  margin-left: auto;
}
