*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-color: rgb(255, 102, 0);
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header .icon {
  /* background-color: lightcoral; */
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .page-top {
  padding: 10px 0px;
}

.header .source {
  /* background-color: lightblue; */
  font-size: 20px;
  font-weight: 900;
}

.header .source-list > li {
  /* background-color: lightpink; */
  margin: 0 10px;
  display: inline-block;
}

.header .source-list li:first-child {
  margin-left: 0;
}

.header .access {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-right: 20px;
  padding-left: 50px;
  margin-left: auto;
}
