*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font: 14px "Century Gothic", Futura, sans-serif;
  height: 100%;
}

#root {
  height: 100%;
  background-color: #999;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 40px;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 1.2rem;
  font-weight: bold;
  height: 75px;
  width: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}
